$body-font-family: "Karla";
$heading-font-family: "Karla";

.logo {
  font-family: "Montserrat";
  font-size: 3rem;
}

ul, li {
  margin-bottom: 1rem;
}

/* pre {
	display: inline-block;
	border-radius: 8px;
	width: 800px;
  height: auto;
}

@media only screen and (max-width: 320px) {
    pre {
    display: inline-block;
    border-radius: 8px;
    width: 800px;
    height: auto;
  }
} */

.code {
  font-family: "JetBrains Mono";
  background-color: #121212;
  font-size: 1rem;
  word-break: break-all;
}

.json-attribute {
	color: #59a8e4;
}

.json-boolean {
	color: #b87aff;
}

.js-attribute {
	color: #ff0071
}

.js-function {
	color: #59a8e4;
}

.js-value {
	color: #b87aff;
}